:root {
}
a{
  text-decoration: none;
  color: #2cce00;
}
a:hover {
  color: red;
}
a:visited {
  text-decoration: none;
}
input,select{
  font-family: 'Poppins', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
hr{
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
code{
  background-color: rgba(255,255,255,0.4);
  padding: 0px 3px;
  border-radius: 4px;
}

@media screen and (min-width: 40em) {
  html{
    width:100%;
    margin: 0px auto;
  }
  body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    padding: 0;
    width:100%;
  }
  code {
    background-color: rgba(0,0,0,0.1);
    font-family: monospace;
    font-size: 110%;
    display: block;
    padding: 10px 15px;
    margin: 10px 0px;
  }
  .white{
    background-color: white;
    color: black;
    padding: 10px 0px;
    margin-top: 80px;
  }
  .white-inner{
    max-width: 1200px;
    padding: 10px;
    margin: 0px auto;
  }
  .black{
    background-color: black;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  .black-inner{
    max-width: 1200px;
    padding: 10px;
    margin: 0px auto;
  }
  .top-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top-flex .title {
    font-size: 20px;
    font-weight: bold;
  }
  .top-flex input {
    display: block;
    border: none;
    width: 250px;
    border-radius: 5px;
    background-color: white;
    padding: 10px 15px;
    margin: 3px 0px;
    font-size: 15px;
  }
  .top-flex input:focus {
    outline: none;
    background-color: rgba(255,255,255,0.9);
  }
  .top-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .top-buttons i {
    display: block;
    font-size: 25px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.4);
    cursor: pointer;
  }
  .top-buttons i:hover {
    background-color: rgba(255,255,255,0.8);
    color: black;
  }

  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
  }
  .login-btn {
    padding: 10px 15px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-btn:hover {
    box-shadow: 0px 0px 3px rgba(0,0,0,1);
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;
  }
  .login-btn i {
    font-size: 22px;
    padding-right: 8px;
  }

  .new-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .new-entry div {
    width: 100%;
    display: flex;
    margin: 5px 0px;
  }
  .new-entry input {
    flex: 1;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    display: block;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 10px 15px;
    font-size: 15px;
  }
  .new-entry input:focus {
    outline: none;
    background-color: rgba(0,0,0,0.1);
  }
  .new-entry textarea {
    flex: 1;
    font-family: "Poppins", sans-serif;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    display: block;
    resize: none;
    overflow: hidden;
    height: 50vh;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 10px 15px;
    font-size: 15px;
  }
  .new-entry textarea:focus {
    outline: none;
    background-color: rgba(0,0,0,0.1);
  }
  .new-entry button {
    flex: 1;
    background-color: rgb(249, 255, 253);
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    display: block;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  .new-entry button:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
  }
  .new-entry button:focus {
    outline: none;
  }

  .items {
    display: flex;
    flex-direction: column-reverse;
  }
  .item {
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 5px 0px;
    cursor: pointer;
  }
  .item:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  }
  .item span {
    display: block;
    font-size: 12px;
    color: #28b800;
  }
  .item b {
    display: block;
  }


  .inners{
    width: 100%;
  }
  .type{
    margin-left: 30px;
    padding: 5px 10px;
    font-size: 14px;
    border: 2px solid rgba(255,155,0,0.4);
    border-radius: 5px;
    display: inline-block;
  }

  .katex {
    font-size: 1.25em;
    font-weight: 500;
  }
  .katex-display{
    margin: 8px 0px;
  }
}

@media screen and (min-width: 0em) and (max-width: 40em) {
  html{
    width:100%;
    margin: 0px auto;
  }
  body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: var(--no1);
    color: var(--no4);
    font-size: 12px;
    margin: 0;
    padding: 0;
    width:100%;
  }
  p{
    margin: 0;
  }
  h3{
    margin: 10px 0px;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0px;
  }
  h4{
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px;
  }
  code {
    background-color: rgba(0,0,0,0.1);
    font-family: monospace;
    font-size: 110%;
    display: block;
    padding: 5px 10px;
    margin: 10px 0px;
  }
  .white{
    background-color: white;
    color: black;
    padding: 5px 0px;
  }
  .white-inner{
    padding: 5px;
    margin: 0px auto;
  }
  .black{
    background-color: black;
    color: white;
    padding: 5px 0px;
  }
  .black-inner{
    padding: 5px;
    margin: 0px auto;
  }
  .inners{
    width: 100%;
  }
  .inners img{
    width: 80%;
    display: block;
  }
  .type{
    padding: 3px 7px;
    font-size: 12px;
    border: 2px solid rgba(255,155,0,0.4);
    border-radius: 5px;
    display: inline-block;
  }

  .katex {
    font-size: 1.2em;
    font-weight: 500;
  }
  .katex-display{
    margin: 8px 0px;
  }
  .hide2{
    display: none;
  }

}

.hide{
  display: none;
}
